.superInputDone {
    border: 1px solid green;
    padding: 5px;
}
.superInputDone:focus-visible {
    border: 2px solid green;
    outline: none;
}

.errorInput {
    border: 2px solid red;
    outline: none;
}
.error {
    color: red;
    font-size: 16px;
}