.content__myPosts {
    grid-area: content__myposts;
    /*display: flex;
    flex-direction: column;*/
    margin: 0 100px 0px 100px;
}

.content__myPosts_title {
    margin-bottom: 10px;
    font-size: 20px;
}
.content__myPosts_add {
    display: flex;
    flex-direction: column;
}


.sendMessageArea {
    margin-bottom: 10px;
}
.sendMessageArea textarea {
    border: 2px solid green;
    padding: 5px;
}
.sendButton {
    display: flex;
    justify-content: flex-end;
}