.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
    
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(50px, auto) / 2fr 7fr; /*строки / колонки*/
  grid-template-areas: 
    "header header"
    "left__navmenu right__main"
    "footer footer";
  grid-gap: 10px;
}

/*---------------------------------*/
/*header*/

/*---------------------------------*/
/*navbar*/

/*---------------------------------*/
/*main*/

.right__main {
  grid-area: right__main;
}

/*Profile*/
/*right MyProfile*/
/*right MyPosts*/
  /*right MyPostsAdd*/
  /*right MyPostsList*/
    /*right MyPostsItem*/

/*Messages*/
  /*DialogItem*/
  /*MessageItem*/

/*News*/
/*Music*/

/*Djedai*/
  /*Paginator*/
  /*UserItem*/

/*Settings*/

/*---------------------------------*/

/*footer*/