.right__profile {
  display: grid;
  /* grid-area: right__profile; */
  grid-template: minmax(200px, auto) minmax(150px, auto) 1fr 2fr / 1fr;
  grid-template-areas:
    "content__avatar"
    "content__info"
    "content__myposts"
    "content__postlist";
  /* display: flex;
  flex-direction: column;
  min-height: 80vh; */
}