.login {
    border: 2px solid green;
    width: 300px;
    margin: 0 auto;
    padding: 5px;
}
.login h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.login form {
    text-align: center;
}
.login form > div {
    padding: 5px;
}
.login button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    font-size: 18px;
    margin: 5px;
    min-width: 150px;
}