.paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginationWrapper button {
    margin: 5px;
    background-color: green;
    color: white;
    border: none;
    padding: 7px;
}
.paginationWrapper button:hover {
    opacity: 0.7;
}
.paginationWrapper button:disabled {
    background-color: gray;
}
.paginationButtonPrev {
    padding-right: 20px;
}
.paginationButtonNext {
    padding-left: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 550px;
}
.pagination > span {
    padding: 10px;
    font-size: 20px;
}
.pagination:hover > span {

}
.pagination span:hover {
    background-color: green;
    color: white;
    /*opacity: 0.7;*/
    cursor: pointer;
}
.selectedPage {
    font-weight: bold;
    background-color: green;
    color: white;
}